<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>queueApp</title>
	<link rel="stylesheet" href="{{ baseUrl() }}/assets/css/style.css" type="text/css">
</head>
<body>
	<header>
	  <img src="{{ baseUrl() }}/assets/images/queue.png" /><br />
	<!--
	    <a href="queue/add">.add</a> | <a href="queue/next">.next</a> | <a href="queue/view">.view</a>
    -->
	</header>

