


foo: {{ foo }}<br />

{{ dump(foo) }}


<hr />

{% if queueCount > 0 %}
    <ul>
        {% for person in persons %}
            <li>person.name | person.surname | person.birthdate</li>
        {% endfor %}
    </ul>
    <hr />
    <button type="submit">.call</button>
{% endif %}

<hr />